.home-page-container {
    display: flex;
    margin: auto;
    margin-top: 3vh;
    border: 1px solid red;
    
    width: 98vw;
    height: 94vh;
}

.home-page-container h1 {
    position: absolute;
}

