.sugg-item {
	--primary-color: #373737;
	--button-color: #c5e0d6;
	--button-hover-color: #dba7d8;
	--transition-duration: 0.3s;
	
	width: 40%;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 5px;
	background-color: var(--primary-color);
	color: var(--text-color);
	transition: all var(--transition-duration);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.sugg-item-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sugg-item .emoji {
	font-size: 20px;
	margin-top: 15px;
}

.sugg-item h1 {
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

.left-sugg-item {
	width: calc(100% - 100px);
}

.sugg-body {
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin: 10px 0 0 0;
	word-wrap: break-word;
	flex-wrap: wrap;
	width: 100%;
	border-top: #ffffff 1px solid;
	padding-top: 15px;
	max-height: fit-content;
}

.buttons-parts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.buttons-parts button {
	background-color: var(--button-color);
	color: #4d908e;
	border: none;
	font-size: 14px;
	cursor: pointer;
	transition: all var(--transition-duration);
}

button:hover {
	background-color: var(--button-hover-color);
}

button:focus {
	outline: none;
}

.user-emoji-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: fit-content;
}

.sugg-item:hover {
	transform: translateY(-5px);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.textarea-edit {
	width: 95%;
	resize: vertical;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.sugg-item {
		flex-direction: column;
		/* margin: 5px; */
	}

	.sugg-wrapper {
		margin-bottom: 5px;
	}

	.buttons-parts {
		flex-direction: row;
		gap: 5px;
		position: static;
		transform: none;
		margin-top: 10px;
	}

	.sugg-item-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px;
		height: auto;

	}

	.sugg-body {
		width: 100%;
	}
}
