.container {
    position: relative;
    display: inline-block;
    /* margin-top: 70px; */
}

.need {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* Replace height: 100px; with height: 10vw; */
    height: 5vw;
    /* Replace padding: 0 1rem; with padding: 0 1vw; */
    padding: 0 1vw;
    text-align: center;
    color: #ffffff;
    background: #000;
    border-radius: 0.5rem;
    transition: opacity 0.3s ease;
}


.need .middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: 0.5rem;
}


.buttons button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Replace padding: 0.5rem 1rem; with padding: 0.5vw 1vw; */
    padding: 0.5vw 1vw;
    height: 100%;
    /* Replace font-size: 2rem; with font-size: 2vw; */
    font-size: 2vw;
    font-family: 'Monaco', 'Courier New', monospace;
    font-weight: bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons button:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.buttons button:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.container:hover .need {
    opacity: 0;
    pointer-events: none;
}

.container:hover .buttons {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 768px) {
    
    .need {
        width: 100%;
        height: 60px;
        padding: 0 0.5rem;
    }

    .need h1 {
        font-size: 1.2rem;
    }

    .buttons button {
        padding: 0.25rem 0.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 1500) {
    .need {
        width: 100%;
        height: 80px;
        padding: 0 0.8rem;
    }

    .need h1 {
        font-size: 1.8rem;
    }

    .buttons button {
        padding: 0.4rem 0.8rem;
        font-size: 1.8rem;
    }
}

