.feed-container {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.feed-container > * {
  color: white;
  font-family: 'Roboto', sans-serif;
}
