
.feed-container h1 {
    margin: 5px;
}

/* Add custom scrollbar styles */
.feed-container::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
    border-radius: var(--scroll-radius);
    background-color: var(--scroll-track);
  }
  
  .feed-container::-webkit-scrollbar-thumb {
    background-image: var(--scroll-thumb);
    border-radius: var(--scroll-radius);
  }
  
  .feed-container {
    /* Adjust the height according to your needs */
    max-height: 100%;
    width: 100%;
    /* Add scrolling */
    overflow-y: auto;
    background-color: #4c4955;
  
    /* Set custom scrollbar variables */
    --scroll-size: 15px;
    --scroll-radius: 20px;
    --scroll-track: rgb(255, 255, 255, 0.1);
    --scroll-thumb: linear-gradient(45deg, #00aeff, #a68eff);
  
    /* Hide scrollbar for Firefox, IE, and Edge */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    
  }
  