.nav-bar-container {
	height: 5vh;
	width: 100%;
	background-color: #3c3c3c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
}

.profile-today-search {
	height: 100%;
	gap: 10px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-today {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar-container button {
	font-weight: 600;
	padding: 5px 10px;
	transition: background-color 0.3s ease;
	border-radius: 10px;
	height: 40px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
}

.search-container {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-input {
	width: 100%;
	height: 50%;
	padding: 5px 10px;
	border: 1px solid #757575;
	border-radius: 10px;
	outline: none;
	position: relative;
}

.feed-suggestions {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-dropdown {
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 1;
	width: 100px;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	position: absolute;
	background-color: white;
}

.privacy-toggle {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.toggle-switch {
	width: 50px;
	height: 25px;
	border-radius: 25px;
	transition: background-color 0.3s;
	display: inline-block;
	background-color: #ccc;
	position: relative;
}

.toggle-switch i {
	top: 50%;
	transform: translateY(-50%);
	transition: left 0.3s;
	position: absolute;
}

.toggle-switch.public i {
	left: 5px;
}

.toggle-switch.private i {
	left: 25px;
}

.toggle-switch.private {
	background-color: #4caf50;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	max-height: 80%;
	background-color: white;
	max-width: fit-content;
	overflow-y: auto;
}

.close-modal {
	top: 5px;
	right: 10px;
	font-size: 24px;
	position: absolute;
	border: none;
	background-color: transparent;
	font-weight: bold;
	cursor: pointer;
}

.modal-background {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-bar-container .not-rated-today {
	background-color: rgb(0, 221, 140);
}

.nav-bar-container .rated-today {
	background-color: rgb(255, 168, 39);
}

.nav-bar-container button:hover {
	background-color: #4e4e4e;
}

.profile-icon img {
	border-radius: 50%;
}

/* Add this media query at the end of the file */
@media (max-width: 768px) {
	.nav-bar-container button.logout-icon,
	.nav-bar-container button.about-us-icon,
	.nav-bar-container button.feed-icon,
	.nav-bar-container button.suggestions-icon {
		font-size: 0;
	}

	.nav-bar-container button.logout-icon:before,
	.nav-bar-container button.about-us-icon:before,
	.nav-bar-container button.feed-icon:before,
	.nav-bar-container button.suggestions-icon:before {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 16px;
		content: "\f2f5";
	}

	.nav-bar-container button.about-us-icon:before {
		content: "\f129";
	}

	.nav-bar-container button.feed-icon:before {
		content: "\f0c9";
	}

	.nav-bar-container button.suggestions-icon:before {
		content: "\f1ea";
	}

	.search-input {
		width: 80%;
	}

	.close-modal p {
		font-size: 20px;
		color: rgb(0, 0, 0);
		padding: 5px;
		margin-top: 50px;
		margin-right: 15px;
		text-align: right;
		border-radius: 50%;
	}

	.close-modal:hover {
		background-color: rgb(255, 255, 255);
	}
}
